{%extends 'ttsx_goods/base.html'%}

{%block head%}
    <script>
    //登录判断
    function add_cart(gid){
        $.get('/user/islogin/',function (data) {
           if (data.result){
               $.get('/cart/add/',{'gid':gid},function (data) {
                   if (data.result){
                       alert("购买成功")
                   }
                   else{
                       alert("购买失败")
                   }

               })
           }
           else{
               location.href='/user/login/'
           }
        })

    }
    //如果登录,则加入购物车
    //如果未登录,提示登陆信息
    </script>
{%endblock head%}

{%block detail%}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{t1.ttitle}}</a>
	</div>

{%endblock detail%}
{%block right%}
<div class="r_wrap fr clearfix">
			<div class="sort_bar">
                {% load filters %}
				<a href="/goods/list{{t1.id}}?desc=0" class="{{cla.default}}">默认</a>
				<a href="/goods/list{{t1.id}}?desc={{num|num1}}" class="{{cla.gprice}}">价格</a>
				<a href="/goods/list{{t1.id}}?desc=2" class="{{cla.gclick}}">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for goods in page%}
				<li>
					<a href="/goods/detail{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
					<h4><a href="/goods/detail{{goods.id}}/">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/{{goods.gunit}}</span>
						<a href="javascript:add_cart({{goods.id}});" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}

			</ul>

			<div class="pagenation">
				{%if page.has_previous%}
				<a href="/goods/list{{t1.id}}{{page.number|add:-1}}/"><上一页</a>
				{%endif%}
				{%for pindex in alist%}
				{%if page.number == pindex%}
				<a href="#" class="active">{{pindex}}</a>
				{%else%}
				<a href="/goods/list{{t1.id}}{{pindex}}/" class="">{{pindex}}</a>
				{%endif%}
				{%endfor%}


				{%if page.has_next%}
				<a href="/goods/list{{t1.id}}{{page.number|add:1}}/">下一页></a>
				<a href="/goods/list{{t1.id}}{{page.paginator.num_pages}}/">末页</a>

				{%endif%}
			</div>
		</div>
{%endblock right%}

