{%extends 'base.html'%}

{%block head%}

<script>
	 $(function () {

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            async:false
        });

        var error_name = false;
	    var error_password = false;

	$('#uname').blur(function() {
		check_user_name();
	});

	$('#upwd').blur(function() {
		check_pwd();
	});

	$('#uname').focus(function() {
		$('#uname').next().html('');
	    $('#uname').next().hide();
	});

	$('#upwd').focus(function() {
		$('#upwd').next().html('');
	    $('#upwd').next().hide();
	});

	function check_user_name() {
        var len = $('#uname').val().length;

        if (len < 5 || len > 20)
        {
            $('#uname').next().html('请输入5-20个字符的用户名');
            $('#uname').next().show();
            error_name = true;
        }
        else
        {
            $('#uname').next().hide();
            error_name = false;
            $.post('/user/login_check2/', {'uname': $('#uname').val(),'upwd':$('#upwd').val()}, function (data) {
                if (data.check == '0')
                {
                    $('#uname').next().html('用户名不存在');
                    $('#uname').next().show();
                    error_name = true;
                }
            });
        }
    }

	function check_pwd() {
	    if (error_name != true){
            var len = $('#upwd').val().length;

            if (len < 8 || len > 20) {
                $('#upwd').next().html('密码最少8位，最长20位');
                $('#upwd').next().show();
                error_password = true;
            }
            else {
                $('#upwd').next().hide();
                error_password = false;
                $.post('/user/login_check2/', {'upwd': $('#upwd').val(), 'uname': $('#uname').val()}, function (data) {
                    if (data.check == '1')
                    {
                        $('#upwd').next().html('密码错误，请重新输入');
                        $('#upwd').next().show();
                         error_password = true;
                    }
                });
            }
            }
        else
        {
            error_password=true;
        }
    }

	$('form').submit(function() {
		check_user_name();
		check_pwd();

		if(error_name == false && error_password == false)
		{
            if($('#checkbox').attr('checked'))
            {
                document.cookie="uname="+$('#uname').val();
            }
			return true;
		}
		else
		{
			return false;
		}
	});

    });


</script>

{%endblock head%}

{%block body%}


	<div class="login_top clearfix">
		<a href="../index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form action="/user/login_handle/" method="post">
						{%csrf_token%}
						<input type="text" name="uname" id="uname"	 class="name_input" value="{{uname}}" placeholder="请输入用户名">
						<div class="user_error">{{error_name}}</div>
						<input type="password" name="upwd" id="upwd" class="pass_input" value="{{upwd}}" placeholder="请输入密码">
						<div class="pwd_error">{{error_pwd}}</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="ujz" value="1" checked="checked">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit"  value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

{%endblock body%}
